In [1]:
import pandas as pd

In [19]:

file_path_hep = "C:/Users/falty/Desktop/geometric-omics/raQTL/data/hepg2.sign.id.LP190708.txt"
df = pd.read_csv(file_path, delimiter="\t")

# Now you can work with the DataFrame
df.head()

,chr,SNP_ID,SNPabspos,ref.element.count,alt.element.count,hepg2.ref.mean,hepg2.alt.mean,hepg2.wilcox.p.value,hepg2.wilcox.p.value.random,ref,alt
0,chr3,rs9814223,24362252,224,177,1.579731,36.281741,5.029041e-40,0.760828,A,G
1,chr4,rs1605769,59436721,261,79,1.423470,15.025351,2.481365e-36,0.430313,T,C
2,chr5,rs3815923,54253581,208,208,13.427058,0.966040,5.922130e-36,0.657593,A,G
3,chr9,rs1928227,88698591,212,242,0.803605,11.766448,1.452938e-35,0.709940,C,A
4,chr14,rs7156067,89393045,197,258,15.567052,0.838567,2.073221e-35,0.805964,G,A

In [20]:
len(df)

14183

In [21]:
len(df.columns)

11